@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400&family=Lobster&display=swap');

@media screen and (min-width: 815px){

}

html{
    scroll-behavior: smooth;

}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: 500;

    color: black;
    line-height: 1.6;
    background-color: var(--back-color);
}

h1,h2,h3{
    margin: 0;
}

h2,h3{
    font-weight: 500;
}

.header{
    background-color:  #AEFEFF;
    /* overflow: hidden;  */
    font-family: 'Balsamiq Sans',cursive;

}
.project_name{
    /* background-color: #000; */
   /* color: #AEFEFF; */
   font-size: 2.5rem;
    /* font-weight: bold; */
    position: absolute;
    margin-top: 10px;
    left: 35%;
    right: 35%;
    text-align: center;
    width: 450px;
    font-family: 'Secular One', sans-serif;
}

.header_container{
    position: relative;

}

.header_data{

    color: darkslategrey;
    z-index: 10;
    height: 60px;

}

.header_title{
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    margin-top: 0.5rem;
    margin-left: 15px;
   padding: 1rem;

}

.header_title:hover{
    font-size: 4rem;
    transition: 0.3s;
    color: #072227;
}

.tag_line{
    font-size: 2rem;
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 0rem;
    margin-top: 5rem;

}

/* .tag_line:hover{
    font-size: 2.5rem;
    transition: 0.3s;
} */
.logo_img{
    position: relative;
   display: flex;
    right: 0;
    bottom: 0;
    top:10px;
    height: 70%;   

}

.header_icon{
    font-size: 3rem;

   margin-left: 1rem;
}

.header_tech-icon{
    color: #35858B;
    border:3px #000;
}

.header_tech-icon:hover{
    /* font-size: 3.5rem; */
    color: #000;
    transition: 0.3s;
}
.footer{
    background-color: #092a30;
    font-family:'Inter', sans-serif;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}
.footer-links{
    margin: 0 10px;
    /* font-family: 'Balsamiq Sans',cursive;
     */
}
.github-logo{
    font-size: 25px;
}
.footer-links{
    text-decoration: none;
    color: #AEFEFF;

}
.footer-links:hover{
    color: white;
    transition: 0.2s;
}
.copyright{
    padding: 5px 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}


.contact
{
    position: relative;  
    min-height: 73vh;  
    padding: 2rem 7rem;  
    display: flex;  
    justify-content: center; 
    align-items: center;  
    flex-direction: column;  
    background: url(backg.png);  
    background-size: cover;
}
.contact .content
{
    max-width: 50rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
}
.contact .content h2
{
    font-size: 2.25rem;  
    font-weight: 500;  
    color: rgb(0, 0, 0) ;
}  
.contact .content p
{
    font-weight: 300;  
    color: rgb(0, 0, 0);
}  
.container  
{  
    width: 100%;  
    display: flex;  
    justify-content: left;  
    align-items: center;  
    margin-top: 30px;
} 
.container  .contactInfo
{  
    width: 50%;  
    display: flex;  
    flex-direction: column;  
    display: grid;  
    grid-template-columns: repeat(2, 1fr);  
    grid-gap: 2px;  
    grid-auto-rows: minmax(30px,auto);
    grid-auto-columns: minmax(30px,auto);
    width: 100%; 
    padding-top: 10px;
}   
.container .contactInfo .box 
{  
    position: relative;  
    padding: 20px 0;
    display: flex;  
} 
.container .contactInfo .box .icon
{  
    min-width: 60px;  
    height: 60px;  
    background: #fff;
    display: flex;  
    justify-content: center;  
    align-items: center;  
    border-radius: 50%;  
    font-size: 22px;
} 
.container .contactInfo .box .text
{  
    display: flex;  
    margin-left: 20px;  
    font-size: 16px;  
    color: rgb(0, 0, 0);  
    flex-direction: column;  
    font-weight: 300;
}   
.container .contactInfo .box .text h3
{  
    font-weight: 500;  
    color: black;
}   
.contactForm
{  
    width: 40%;  
    padding: 40px;
    background: #fff;
    /* display: none; */
} 
.contactForm h2
{  
    font-size: 30px;
    color: rgb(0, 0, 0);  
    font-weight: 500;
}   
.contactForm .inputBox
{  
    position: relative;
    width: 100%;  
    margin-top: 10px;
}   
.contactForm .inputBox input, .contactForm .inputBox textarea
{  
    width: 100%;  
    padding: 5px 0;
    font-size: 16px;  
    margin: 10px 0;  
    border: none;  
    border-bottom: 2px solid #333;  
    outline: none;  
    resize: none;  
}   
.contactForm .inputBox span
{  
    position: absolute;  
    left: 0;  
    padding: 5px 0;
    font-size: 16px;  
    margin: 10px 0;  
    pointer-events: none;  
    transition: 0.5s;    
    color: #666;  
}   
.contactForm .inputBox input:focus ~ span, .contactForm .inputBox input:valid ~ span, .contactForm .inputBox textarea:focus ~ span, .contactForm .inputBox textarea:valid ~ span
{  
    color: blueviolet;
    font-size: 12px;  
    transform: translateY(-20px);
}   
.contactForm .inputBox input[type="submit"]
{  
    width: 100px;
    background: rgba(128, 255, 0, 0.897);  
    color: #fff;  
    border: none;  
    cursor: pointer;
    padding: 10px;
    font-size: 18px;  
}      
/* .footer{
    background-color: #143e46;
    font-family: 'Inter', sans-serif;
    padding-bottom: 5px;
    text-align: center; 
    color: white;
} */
.copyright{
    padding: 5px 0;
    margin: 0;
}
a{
    text-decoration: none;
    margin: auto 5px;
    color: #000000;

}
a:hover{
    color: white;
    transition: 0.2s;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.team_name{
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    margin-top: 5px;
    font-family: 'Playfair Display', serif;
    

}

.team_description{
    font-size:1rem;
    margin-top:40px;
    margin-left:5px;
    position: absolute;
    font-family: 'Playfair Display', serif;
    
}
#icon{
    float: right;
    height: 60px;
    width: 60px;
    margin: 5px;
    border-radius: 45px;
    border: 5px solid rgb(58, 23, 153);
}   

.text{  
   
    width: 50%;  
    font-family:'Lato', sans-serif;
    font-weight: 200;
}

.options 
{
    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
    grid-gap: 2px;  
    grid-auto-rows: minmax(30px,auto);
    grid-auto-columns: minmax(30px,auto);
    width: 100%; 
    padding-top: 10px;
} 

.items{  
    background-color: rgb(11, 181, 224);  
    border: 1px black solid;  
    border-radius: 10px; 
    text-align: center;
    margin: 0 3px;
    width: 80px;
}
.items a:hover{
color: rgb(255, 255, 255);
}

@media( max-width:991px)  
{  
    .contact  
    {  
        padding: 50px;
    }  
    .container .contactInfo 
    {  
        display: flex;
        flex-direction: column;
    }    
    .container .contactInfo, .contactForm  
    {  
        width: 100%;
    }
    .contactForm{
        width:80%;
    }
}



@media screen and (min-width:501px) and (max-width:815px){
    
    .logo{
        height: 40px;
        width: 40px;
        margin-left: 2px;
    }
    
    .team_name{
        font-size: 20px;
        margin-top:10px;
        
    }
    .team_description{
        font-size:12px;
        margin-top:30px;
        position: absolute;
        margin-left: 0;
        
    }
    .project_name{
        font-size: 20px;
        left:35%;
        width:250px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    h2{
        font-size: 20px;
    }
    
}



@media screen and (max-width:500px){
   
   .header{
       width: auto;
   }
   

   .logo{
       height: 40px;
       width: 40px;
       margin-left: 2px;
   }
   #icon{
       float: right;
       height: 40px;
       width: 40px;
       border:4px solid rgb(58, 23, 153);
       margin-right: 2px;
   
   }
   .team_name{
     
       display: none;
       
   }
   .team_description{
       
       display: none;

   }
   .project_name{
       font-size: 15px;
       left: 23%;
       right: 23%;
       width:190px;
       text-align: center;
   }
   
   a{
       font-size: 10px;
   }
   .github-logo{
       font-size: 20px;
   }
   .copyright{
       font-size: 10px;
   }
   h1{
    font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }
    .Number{
        font-size: 15px;
    }
    .icon{
        height: 20px;
        width: 20px;
    }
    .items{
        width: 45px;
    }

  
}

